:root {
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #3b74b5;
    /* --wrong: #b59f3b; */
    --right: #538d4e;

    --box-size: 16vw;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    background: var(--default);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2vh 4vw;
}

.grid {
    display: grid;
    grid-template-rows: repeat(6, var(--box-size));
    grid-template-columns: repeat(5, var(--box-size));
    gap: 1vw;
    margin-bottom: 2vh;
}


.box {
    width: var(--box-size);
    height: var(--box-size);
    border: 2px solid var(--empty);
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-size: 2.8rem;
    font-weight: bold;
    background: none;
}

.empty {
    background-color: var(--empty);
}

.wrong {
    background-color: var(--wrong);
}

.right {
    background-color: var(--right);
}

.animated {
    animation: flip 0.5s ease;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

#keyboard {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5vh;
    padding: 0 1vw;
}

button {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.6rem;
    border: 0;
    padding: 0;
    height: 10vw;
    cursor: pointer;
    background-color: rgb(129,131,132);
    color: rgb(215,218,220);
    flex: 1;
    min-width: 0;

    text-transform: uppercase;
    margin-right: 3px;
    /* margin-right: 6px; */
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button {
    font-size: 0.9rem;
    flex: 1.5;
}

.spacer-half {
    flex-grow: 0.5;
}

/* Apply letter color classes to keyboard buttons too */
button.empty {
    background-color: var(--empty);
    color: white;
}

button.wrong {
    background-color: var(--wrong);
    color: white;
}

button.right {
    background-color: var(--right);
    color: white;
}
